# Neon
DATABASE_URL="postgresql://USER:PASSWORD@HOST.neon.tech/DB?sslmode=require"

# API-FootBALL / API-SPORTS
API_FOOTBALL_KEY="tu_api_key"
API_FOOTBALL_HOST="v3.football.api-sports.io"
API_FOOTBALL_BASE_URL="https://v3.football.api-sports.io"

# Mundial 2026
WORLD_CUP_LEAGUE_ID="1"
WORLD_CUP_SEASON="2026"
